@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|VT323);
#title {
text-shadow:
   6px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
  background-color:#7FFF00;
  color:white;
  padding:10px;
  margin-top:0px;
}

body {
background-color: black;
font-family: 'VT323';
color: #7FFF00;
}

.buttonDat {
  color:#7FFF00;
  text-decoration: none;
  background-color: balck;
  transition: all .1s ease;
}

.buttonDat:hover {
  background-color: #7FFF00;
  color:black;
  text-decoration: none;
}
textarea{
  background-color:black;
  padding: 5px;
  width:500px;
  height:250px;
  border:none;
}
input {
  border:none;
}
select{
  border:none;
}
#category-select  {
  background-color:black;
}
#post-title  {
  background-color:black;
  margin-bottom:5px;
}
#submit {
  background-color:black;
margin-top:5px;
ransition: all .1s ease;
}
#submit:hover {
  background-color:#7FFF00;
  color:black;
}
#cancel {
  text-align: center;
  width:52px;
  padding:3px;
  text-decoration: none;
  color:#7FFF00;
  background-color:black;
margin-top:5px;
}
#cancel:hover {
  background-color:#7FFF00;
  color:black;
}
#article {
  margin: 0 auto;
  max-width:500px;
}
#post {
  margin: 0 auto;
  max-width:500px;
}
#delete {
  background-color: black;
  border:none;
}
#delete:hover {
  background-color:#7FFF00;
}
#login{
  margin-top:5px;
  background-color: black;
  border:none;
}
#login:hover {
  color:black;
  background-color:#7FFF00;
}
.post-author{
  margin-bottom:10px;
  background-color:black;
}
.wikiForm {
  margin: 0 auto;
  max-width:500px
}
fieldset{
  top: 50%;
display:inline-flex;
  background-color:#7FFF00;
  border:none;
}

fieldset label {
  color:black;
  padding:3px;
}

h1 {
  text-align:center;
}
h2{
    text-align:center;
}
nav {
  text-align:center;
}
nav a{
  padding:10px;
  font-size:36px;
  display:block;
  cursor:pointer;
}
.indexItem {
  text-align:center;
}
.black{
  background-color: black;
}
.container {
margin: 0 auto;
}
#postBody{
  font-size:20px;
}
#postCat {
  font-size:18px;
  text-align:center;
}
.wrapper {

}
@media print {
  body {
  background-color: white;
  font-family: sans-serif;
  color: black;
  }
  #title {
  text-shadow:
     6px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color:white;
  }

  .buttonDat {
display:none;
  }

  .buttonDat:hover {
display:none;
  }
}
