@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|VT323);
#title {
text-shadow:
   6px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
  background-color:#7FFF00;
  color:white;
}

body {
background-color: black;
font-family: 'VT323';
color: #7FFF00;
}

.buttonDat {
  color:#7FFF00;
  text-decoration: none;
  background-color: balck;
}

.buttonDat:hover {
  background-color: #7FFF00;
  color:black;
  text-decoration: none;
}
textarea{
  background-color:black;
  padding: 5px;
  width:500px;
  height:250px;
}
#category-select  {
  background-color:black;
}
#post-title  {
  background-color:black;
  margin-bottom:5px;
}
#submit {
  background-color:black;
margin-top:5px;
}
#submit:hover {
  background-color:#7FFF00;
}

#article {
  margin: 0 auto;
  max-width:500px;
}
#post {
  margin: 0 auto;
  max-width:500px;
}
#delete {
  background-color: black;
}
#delete:hover {
  background-color:#7FFF00;
}
.wikiForm {
  margin: 0 auto;
  max-width:500px
}
fieldset{
  top: 50%;
display:inline-flex;
  background-color:#7FFF00;
}

fieldset label {
  color:black;
  padding:3px;
}

@media print {
  body {
  background-color: white;
  font-family: sans-serif;
  color: black;
  }

  .buttonDat {
display:none;
  }

  .buttonDat:hover {
display:none;
  }
}
h1 {
  text-align: center;
}
h2{
    text-align:center;
}
.indexItem {
  text-align:center;
}
