<form id="article-form" action="/posts" method="post">
  <fieldset>
    <label for= "item-name">User Name</label>
    <input type="text" id="post-title" name="user[name]">
    <label for="item-description">Password</label>
    <input type="textarea" id="post-body" name="user[password]">
    <input type="submit" value="Login">
  </fieldset>
</form>
