<h1>SIGN UP</h1>
<div class="wrapper">
  <form class="article-form" action="/users" method="post">
    <fieldset>
      <label for= "item-name">User Name</label>
      <input type="text" class="black" name="user[name]">
      <label for="item-description">Make a Password</label>
      <input type="text"class="black" name="user[password]">
      <input type="submit" id="login" value="Create User">
    </fieldset>
  </form>
</div>
