<h1>EDIT ARTICLE</h1>
<div class="wikiForm">
<form class= id="article-form" action="/posts/<%=post._id%>/update" method="post">
  <fieldset>
    <label for= "post-title">Title</label>
    <input type="text" id="post-title" name="post[title]" value="<%=post.title%>">
    <label for "post-author">Author</label>
    <input type="text" class="post-author" name="post[author]" value="<%=post.author%>">
    <textarea id="post-body" name="post[body]" required><%=post.body%></textarea>
    <label for= "post-categories">Category</label>
    <select id="category-select" name="post[category]">
        <option value="data">Data</option>
        <option value="facts">Facts</option>
        <option value="information">Information</option>
        <option value="knowledge">Knowledge</option>
        <option value="wisdom">Wisdom</option>
      </select>
    <input class="buttonDat" id="submit" type="submit" value="Update">
  </fieldset>
</form>
</div>
