  <div id="post">
  <h2>INDEX OF ARTICLES BY CATEGORY</h2>
    <% post.forEach(function(post, i) { %>
    <a href="/posts/<%=post._id%>"><%= post.title %></a>
    <% }); %>
    <a href="/posts/new">Create New Article</a>
  </div>
