<h1>CREATE NEW ARTICLE</h1>
<div class="wikiForm">
<form id="article-form" action="/posts" method="post">
  <fieldset>
    <label for= "post-title">Title</label>
    <input type="text" id="post-title" name="post[title]">
    <label for "post-author">Author</label>
    <input type="text" class="post-author" name="post[author]">
    <textarea id="post-body" name="post[body]" required></textarea>
    <label for= "post-categories">Category</label>
    <select id="category-select" name="post[category]">
        <option value="data">Data</option>
        <option value="facts">Facts</option>
        <option value="information">Information</option>
        <option value="knowledge">Knowledge</option>
        <option value="wisdom">Wisdom</option>
      </select>
    <a href="/posts" id="cancel" type="button">Cancel</a>
    <input type="submit" id="submit" value="Publish">
  </fieldset>
</form>
</div>
