
<form id="article-form" action="/posts" method="post">
  <fieldset>
    <label for= "post-title">Title</label>
    <input type="text" id="post-title" name="post[title]">
    <input type="textarea" id="post-body" name="post[body]">
    <label for= "post-categories">Categories</label>
    <input type="text" id="post-categories" name="post[categories]">
    <input type="submit" value="Publish">
  </fieldset>
</form>
