
<form id="article-form" action="/posts" method="post">
  <fieldset>
    <label for= "item-name">Title</label>
    <input type="text" id="post-title" name="post[title]">
    <label for="item-description">Description</label>
    <input type="textarea" id="post-body" name="post[body]">
    <input type="submit" value="Publish">
  </fieldset>
</form>
